<div class="row">
  <div class="col-md-4">

    <div class="row">
      <div class="col-md-8">
        <h1>Simulation History</h1>
      </div>
      <div class="col-md-4">
        <%= render 'btnFunctions' %> 
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <%= render 'listSims' %>
      </div>
    </div>

  </div>

  <div class="col-md-4">

    <div class="row">
      <div class="col text-center">
        <h1>
          <%= @simulation.name %>
        </h1>
      </div>
    </div>
    
    <div class="row">
      <% ["x_position","y_position", "z_position"].each do |traj| %>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
              Starting <%= traj.sub("_", " ") .capitalize %>
          </div>
          <div class="card-body">
            <%= @simulation.send(traj) %>
          </div>
        </div>
      </div>
        <% end %>
    </div>
    <br>


    <div class="row">

    <% @xpos = @simulation.x_position %>
    <% @ypos = @simulation.y_position %>
    <% @zpos = @simulation.z_position %>

      <div class="col-md-12">
        <table class="table table-bordered">
        <% [1,2,3,4,5].each do |phase| %>
          <thead>
            <tr>
              <th>
                Phase <%= phase %>
              </th>
              <th colspan="2">
                <% case phase %>
                  <% when 1 %>
                        Deploy parachute
                  <% when 2 %>
                          Adjusting the thrusters
                  <% when 3 %>
                          Reducing speed
                  <% when 4 %>
                          Aligning the ship to the earth
                  <% when 5 %>
                          Reducing the speed, preparing the landing gear
                  <%  else  %>
                          that is a moment
                   <%end %>
              </th>
            </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <% @xpos = @xpos / 1.5 %>
              <%= @xpos.round(2) %>
            </td>

            <td>
              <% @ypos = @ypos / 1.5 %>
              <%= @ypos.round(2) %>
            </td>

            <td>
              <% @zpos = @zpos / 1.5 %>
              <%= @zpos.round(2) %>
            </td>
            
          </tr>
          </tbody>
        <% end %>
        </table>
    </div>
    </div>
    <div class="row">
      <div class="col text-center">

          <% if @simulation.success == 1 %>
                  <h1 class="text-success">
                    Landed Successfully
                  </h1>
          <% else %>

              <h1 class="text-danger">
                Crash Landed            
              </h1>
          <% end %>

      </div>
    </div>

  </div>
    
</div>

  <div id="newSimulation" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">New Simulation</h4>
          </div>

          <div class="modal-body">
            <%= form_for @simulation do |f| %>

              <div class="input-group mb-3">
                <span class="input-group-prepend"><%= @time%></span>
              </div>
              <br>
              <div class="input-group mb-3">
                <span class="input-group-prepend">
                <%= f.label :x_position, class: "input-group-text" %></span>
                <%= f.text_area :x_position, class: "form-control" %>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-prepend">
                <%= f.label :y_position, class: "input-group-text" %></span>
                <%= f.text_area :y_position, class: "form-control" %>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-prepend">
                <%= f.label :z_position, class: "input-group-text" %></span>
                <%= f.text_area :z_position, class: "form-control" %>
              </div>

          <div class="modal-footer">
              <%= f.submit 'Create Simulation', class: "btn btn-warning"  %>
              <%= button_tag 'Close', class: "btn btn-default", "data-dismiss" => "modal" %>
            <% end %>
          </div>
        </div>

    </div><!-- End of modal dialog div -->
  </div><!-- End of Modal Div -->