<div class="row">
  <div class="col-md-3">

    <div class="row">
      <div class="col-md-8">
        <h1 class="text-center">Simulation History</h1>
      </div>
      <div class="col-md-4">
        <%= render 'btnFunctions' %> 
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <%= render 'listSims' %>
      </div>
    </div>

  </div>

  <div class="col-md-9">

    <div class="row">
      <div class="col text-center">
        <h1>
          <%= @simulation.name %>
        </h1>
      </div>
    </div>
    
    <div class="row">

    <% count = 0 %>
    <% thrust = 0 %>
    <% temp = 1447 %>
    <% altitude = @simulation.x_position %>
    <% descent = altitude / 24 %>

      <div class="col-md-12">
        <table class="table table-bordered">
          <thead class="text-center">
            <tr>
              <th>
                Time
              </th>
              <th>
                Alttitude (ft)
              </th>
              <th>
                Temp (C&#176;)
              </th>
              <th>
                Thrust %
              </th>
              <th>
                Status
              </th>
            </tr>
          </thead>
          <tbody>
        <% [1,2,3,4,5].each do |phase| %>
            <% (1..5).each do %>
          <tr>
            <td class="text-center" width="10%">
                <% @time = @time - 30 %>
                <%= Time.at(@time).strftime("%H:%M:%S") %>
            </td>

            <td class="text-center" width="10%">
               <%= altitude %>
            </td>
            
            <td class="text-center" width="10%">
              <%= temp  %>
            </td>
  
            <td class="text-center" width="10%">
              <%= thrust %> 
            </td>

            <td>
              <% case phase %>
                  <% when 1 %>
                      <% if count <= 2  %>
                        Phase 1 - Approaching Mars, communicating with Earth
                       <% else %>
                        Phase 1 - Rotating Lander towards Mars surface
                       <% end %>
                  <% when 2 %>
                        <% if count <  6 %>
                          Phase 2 - Parachute deplays
                        <% elsif count == 7 %>
                          Phase 2 - Heat shields released 
                        <% else %>
                          Phase 2 - Free Falling
                        <% end %>
                  <% when 3 %>
                        <% if count <= 10 %>
                          Phase 3 - Lander separates, deploying lander Parachute
                        <% else %>
                          Phase 3 - Lander is falling
                        <% end %>
                  <% when 4 %>
                        <% if count == 16 %>
                          Phase 4 - Airbags inflate
                        <% elsif count == 18 || count == 19 %>
                          Phase 4 - Retro rockets  fire off
                          <% thrust = 100 %>
                        <% else %>
                          Phase 4 - Lander is falling
                          <% thrust = 0 %>
                        <% end %>
                  <% when 5 %>
                        <% if count == 20  %>
                          Phase 5 - Parachute cut off / rockets released
                          <% thrust = 0 %>
                        <% elsif count == 24 %>
                          Phase 5 - Lander impacts the ground
                        <% else %>
                          Phase 5 - Lander is free falling
                        <% end %>
                  <%  else  %>
                          that is a moment
              <%end %>
              <% count += 1 %>
              <% altitude = altitude - descent %>
            </td>
          </tr>
            <% end %>
        <% end %>
          </tbody>
        </table>
    </div>
    </div>
    <div class="row">
      <div class="col text-center">

          <% if @simulation.success == 1 %>
                  <h1 class="text-success">
                    Landed Successfully
                  </h1>
          <% else %>

              <h1 class="text-danger">
                Crash Landed            
              </h1>
          <% end %>

      </div>
    </div>

  </div>
    
</div>

  <div id="newSimulation" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">New Simulation</h4>
          </div>

          <div class="modal-body">
            <%= form_for @simulation do |f| %>

              <div class="input-group mb-3">
                <span class="input-group-prepend"><%= @time%></span>
              </div>
              <br>
              <div class="input-group mb-3">
                <span class="input-group-prepend">
                <%= f.label 'Altitude', class: "input-group-text" %></span>
                <%= f.text_area :x_position, class: "form-control" %>
              </div>

          <div class="modal-footer">
              <%= f.submit 'Create Simulation', class: "btn btn-warning"  %>
              <%= button_tag 'Close', class: "btn btn-default", "data-dismiss" => "modal" %>
            <% end %>
          </div>
        </div>

    </div><!-- End of modal dialog div -->
  </div><!-- End of Modal Div -->