<div class="container">
  <h1>Sign up for Autozilla</h1>

  <%= form_for @user do |f| %>

    <% if @user.errors.any? %>
      <div class="error_meesages">
        <h2>Form is invalid</h2>
      </div>

      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>

    <div class="input-group mb-2"> 
      <%= f.label :email, class: "input-group-prepend input-group-text" %>
      <%= f.text_field :email, class: "form-control" %>
    </div>

    <div class="input-group mb-2">
      <%= f.label :first_name, class: "input-group-prepend input-group-text" %>
      <%= f.text_field :first_name, class: "form-control" %>
    </div>

    <div class="input-group mb-2">
      <%= f.label :last_name, class: "input-group-prepend input-group-text" %>
      <%= f.text_field :last_name, class: "form-control" %>
    </div>

    <div class="input-group mb-2">
      <%= f.label :password, class: "input-group-prepend input-group-text" %>
      <%= f.password_field :password, class: "form-control" %>
    </div>

    <div class="input-group mb-2">
      <%= f.label :password_confirmation, class: "input-group-prepend input-group-text" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>

    <div class="input-group">
      <%= f.submit 'Sign Up', class: "btn btn-success" %>
    </div>

  <% end %>
</div>

