<div class="row">
  
  <div class="col-md-3">

    <div class="row">
      <div class="col">
      	<%= render 'btnFunctions' %>
      </div>
    </div>

    <div class="row">
      <div class="col">
      	<%= render 'listUsers' %>
      </div>
    </div>

  </div>

  <div class="col-md-4">
    <div class="row">
      <div class="col">
        <%= render 'layouts/alerts' %>
        <%= render 'layouts/errors', kitty: @user %>
      </div>
    </div>
    <div class="row">
      <div class="col">
    	<%= render 'userForm' %>
      <br>
      <% if session[:user_id] != @user.id %>
        <%= link_to 'Delete User', user_path(@user.id),
                              class: "btn btn-danger", 
                              method: :delete, 
                              data: { confirm: "Are you sure? This cannot be undone"  } %>
        <% end %>
      </div>
    </div>
  </div>

</div>